ul, .treeView {
    list-style-type: none;
}

.treeView {
    margin:0;
    padding:0;
}

.treeView .expandable {
    cursor:pointer;
}

.treeView .meta {
    color:#a1a1a1;
    font-size:0.9em;
}

.treeView i {
    color:#7ab4cc;
}

/* Loader: */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #9f9f9f;
    display:inline-block;
    position:relative;
    top:-0.5em;
    left: 1.2em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -1em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 0.5em 0 -0.3em;
    }
    40% {
        box-shadow: 0 0.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 0.5em 0 -0.3em;
    }
    40% {
        box-shadow: 0 0.5em 0 0;
    }
}
